Dat*.csv
Score*.csv
SP*.csv
Urandom.csv
Takeout/*
*.xlsx
*.zip
Pmax.csv
PredNew.csv
SpNuit_GLMsanssel.R
SpNuit_GLMsanssel.R
.Rproj.user
inst/doc
.Rhistory
data_weather/
InputOutputvigieChiroScripts/
*.Rdata
*.jpg
*Vigie-Chiro.csv
AnnualTrends*.csv
Bat*.csv
ccsps*.txt
ccsps*.csv
ExpansionManual*.csv
FilToD*.csv
GI_*.csv
Indicateur_Dates*.csv
Indicator*.csv
*.json
ListPartE*.csv
*.dbf
*.shp
*.prj
*.shx
mongos.txt
NewPoints*.csv
observations-*.csv
p_export*.csv
*.png
Particip_region.csv
PartSelG*.csv
PredTab*.csv
*rents*secteurs*.csv
*.kml
ScoreTab*.csv
SpeciesAll.csv
Summary*.csv
SysGrid*.csv
tableIndicators*.csv
ToSuppress*.csv
Vigie-Chiro*.csv

*/Check_CheatKal.R
*/correct_participations.R
*/find_files.r
*/find_points_test.r
*/find_rarespecies.R
*/get_participations_inerror.R
*/launch_participations.R
*/launch_participations_inerror.R

misc/mongo_old/*

*.rmd~
*.r~
*.nc
*.html

*.yml


functions/GLMs/f_Sp_GLM_short - Copie.R
functions/GLMs/f_Sp_GLM_short - Copie (2).R
